@model IEnumerable<PunjabiHutProject.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-danger btn d-lg-block" href="@Url.Action("Create","Products")">Add New Product</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            PRODUCT PICTURE
        </th>
        <th>
            PRODUCT NAME
        </th>
        <th width="200px">
            PRODUCT DESCRIPTION
        </th>
        <th>
            PURCHASE PRICE
        </th>
        <th>
            SALE PRICE
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img height="100px" width="100px" src="@Url.Content(item.PRODUCT_PICTURE)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_PURCHASEPRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_SALEPRICE)
        </td>
        
        <td>
            <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("Edit", "Products", new { id = item.PRODUCT_ID })"></a> |

            <a class="btn btn-success glyphicon glyphicon-book" href=@Url.Action("Details", "Products", new { id = item.PRODUCT_ID })></a> |

            <a class="btn btn-danger glyphicon glyphicon-trash" href=@Url.Action("Delete", "Products", new { id = item.PRODUCT_ID })></a>
        </td>
    </tr>
}

</table>
